

.custom-card-title{
    color: green;
}
.tutor{
    color: green;
    font-size: 18px;
}


.price{
    color: green;
    font-size: 20px;
    font-weight: 600;
}

.myFontSize{
    font-size: 18px;
}